:root{
    --blue-box:#0062FE;
    --bk-blue:#B4D0E6;
    --grey:#EBEAEC;
    --black-foot:#000000;
    --hed-bk:#FFFFFF;
}
main{
    padding-top: 100px;
}
ul {
    list-style-type: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.container-header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--hed-bk);
    border-bottom: 0.5px solid var(--grey);
}

.menu{
    gap: 20px;
}
li{
    text-transform: capitalize;
    padding-inline: 40px;
    align-self: center;
}
.menu ul{
   
    display: flex;
    flex-direction: row;
}
.container-header a{
    text-decoration: none;
    color: black;
}

.left-nav{
    flex-basis: calc(100% / 2 - 20px);
}
.btn-drop{
    
    border: none;
    padding-inline: 30px;
    padding-block: 10px;
    background-color: var(--blue-box);
}
.btn-accedi{
    border: none;
    padding-inline: 30px;
    padding-block: 10px;
    background-color: var(--hed-bk);
}

.container-h{
    padding-top: 100px;   
    margin: 0 auto;
    max-width: 80%; 
    text-align: center;
  
}
.container{
    margin: 0 auto;
    max-width: 80%; 
   
}
.container-side{
   padding-top:100px ;

   position: relative;
  
}
.text{
    /* flex-direction: column; */
    /* flex-basis: 30%; */
    width: 30%;
    height: 250px;
    padding-block: 20px;
}

.jumbo{
    bottom: 10px;
    position: relative;
    height: 500px;
    flex-basis: 60%;
}
.dimension{
    max-width: 100%;
}
.start{
    height: 750px;
    background-color: var(--bk-blue);
}
.padding{
    padding-top: 40px;
}
.flex-column{
   
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.arrow{
    font-size: 70px;
    position: absolute;
     bottom: 70px;
     text-decoration: none;
     color: black;
}
hr{
    color: var(--grey);
}
.container-70{
    margin: 0 auto;
    /* padding-top: 150px; */
    max-width: 70%;
}
.radio-container, h2{

    padding: 80px;
}
.radio-container{
    gap: 20px;
}
.colonne{
   padding-bottom: 5em;
    justify-content: space-between;
}
.colonna{
    padding-left: 20px;
    gap: 50px;
    border: 1px solid grey;
    text-align: left;
    flex-basis: calc(100% / 3 - 150px);
    padding-bottom: 20px;
}

p > span:first-of-type{
    color: gray;
}
.btn-inizia{
    padding-inline: 80px;
    padding-block: 20px;
    border: none;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: var(--blue-box);
}
#section-link > .colonna.flex-column > span:first-of-type {    border-bottom: 1px solid var(--grey);
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.colonna-100{
    /* text-align: center; */
    max-width: 100%;
    border: 1px solid var(--grey);
}
.colonna-100 span{ 
    justify-content: center;
    max-width: 100%;
    border: 1px solid var(--grey);
}

.testa{
    text-align: center;
    padding: 2em;
    border-bottom: 1px solid var(--grey);
}
.contatti{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .contatti > h2{
    flex-basis: 50%;
   
}
.contatti > div{
    flex-basis: 50%;
   
} */
.btn{
    background-color: var(--blue-box);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    
}
.colonna-100 > span, 
.colonna-100 > p{
    flex-basis: 50%;
}